<section class="card">
  <div class="card-body">
    <h1>¿Quienes somos?</h1>
    <p>
    TerryBOX es un proyecto que nace de una serie de necesidades que nuestro equipo de desarrollo ha experimentado a lo largo de su vida, como podría ser la desconfianza en el ambiente laboral, o la enorme cantidad de trabajo adicional que produce el uso de cámaras de seguridad (ademas de ser ineficientes en muchos casos).
     </p>
    Es por todo eso que nosotros creamos un producto de acuerdo a esas necesidades, buscando siempre la satisfacción del usuario.
  </div>
</section>
