<div class="jumbotron mt-4">
<h1 class="display-4">TerryBOX</h1>
    <p class="lead">A lo largo de los siglos, la seguridad siempre ha sido un sin칩nimo de incomodidad, teniendo estrictos procedimientos, y costosos aparatos. Es por eso, que mediante nuestro producto estrella <strong>TerryBOX</strong>, que nosotros estamos ofreciendo <strong>seguridad, sin problemas</strong>.</p>
    <hr class="my-4">
    <p>Te invitamos a unirte a nuestra p치gina, y empezar a utilizar todos los nuevos beneficios que tu nuevo dispositivo provee, aprovechando adem치s todo el poder que la nube es capaz de otorgarte.</p>
    <a href="/users/signup" class="btn btn-primary btn-lg">Registrate</a> o, si ya eres ususario <a href="/users/signup" class="btn btn-primary btn-lg">Inicia Sesi칩n</a>
    <iframe src="https://asksensors.com/actuatorfs.html?s=4251&m=7676&uid=W0OashokGXvcq97CJrUgdFOvCBSQC0" height="30%" width="40%"></iframe>
    <object data="https://asksensors.com/graphfs.html?s=4122&m=7444&uid=kcDn7uOhIaCJNFZNKlp0y9OqlBTZBo" width="400" height="300" type="text/html"></object>
    <object data="https://asksensors.com/graphfs.html?s=4122&m=7470&uid=RgsYkxYUeTl5ordGS7MgUVCvP0NAmn" width="400" height="300" type="text/html"></object>
    <object data="https://asksensors.com/actuatorfs.html?s=4138&m=7469&uid=Rzby2Brb4RMLG0kuA2hYypArZyf7MH" width="400" height="300" type="text/html"></object>
    Alternative Content
</div>
