<div class="jumbotron mt-4">
<h1 class="display-4"><strong>TerryBOX</strong></h1>
    <p class="lead">A lo largo de los siglos, la seguridad siempre ha sido un sinónimo de incomodidad, teniendo estrictos procedimientos, y costosos aparatos. Es por eso, que mediante nuestro producto estrella <strong>TerryBOX</strong>, que nosotros estamos ofreciendo <strong>seguridad, sin problemas</strong>.</p>
    <hr class="my-4">
    {{#if user}}
    <p>Disfruta de tus beneficios como usuario.</p>
    <a href="/notes" class="btn btn-primary btn-lg">Checa tus modulos¡.</a>
    {{else}}
    <p>Te invitamos a unirte a nuestra página, y empezar a utilizar todos los nuevos beneficios que tu nuevo dispositivo provee, aprovechando además todo el poder que la nube es capaz de otorgarte.</p>
    <a href="/users/signup" class="btn btn-primary btn-lg">Registrate</a> o, si ya eres ususario <a href="/users/signin" class="btn btn-primary btn-lg">Inicia Sesión</a>
    {{/if}}
</div>
