<div class="row">
  <div class="card mx-auto">
    <div class="card-body">
      <h1>¿Que tal?, {{user.name}}</h1>
      <p clsss="lead">A continuación, te presentamos las distintas opciones que tienes a tu disposición:</p>
      <p> </p>
      <!-- Botón -->
      <div class="Grap">
      <p class="GText">Verifica si tu dispositivo está encendido o apagado, adicionalmente, puedes modificar esto a tu gusto.</p>
      <iframe src="https://asksensors.com/actuatorfs.html?s=4251&m=7676&uid=W0OashokGXvcq97CJrUgdFOvCBSQC0" width="40%" height="100%" type="text/html" class="GGrap"></iframe>
      </div>
      <p> </p>
      <!-- Binario -->
      <div class="Grap">
      <p class="GText">¿Acaso sigue ahí eso que dejaste?, Compruébalo aquí.</p>
      <iframe src="https://asksensors.com/graphfs.html?s=4250&m=7674&uid=8POPafmnh9EECjGzDO8AEUEWGSIUt7" width="40%" height="100%" type="text/html" class="GGrap"></iframe>
      </div>
      <p> </p>
      <!-- Historial -->
      <div class="Grap">
      <p class="GText">Un pequeño historial de tu objeto, por si no viste la notificación a tiempo.</p>
      <iframe src="https://asksensors.com/graphfs.html?s=4250&m=7675&uid=DWvGeIAfKyJT33UIRUH3pmhiWz06y1" width="40%" height="100%" type="text/html" class="GGrap"></iframe>
      </div>
    </div>
  </div>
  </div>